* {
  font-family: 'Arial';
}
body,
html {
  margin: 0;
  padding: 0;
  min-height: 620px;
  min-width: 700px;
  overflow-y: hidden;
}
html {
	overflow-y: auto;
}
html,
body,
.container,
.wrapper,
[ui-view],
.crc,
.simple-binary {
  height: 100%;
}
.menu {
  position: absolute;
  left: 0;
  width: 100px;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.menu .icon {
  margin: 20px 10px;
  width: 80px;
  height: 60px;
  box-sizing: border-box;
  padding: 15px 5px;
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
  border-bottom: 2px solid #555;
  color: #333;
}
.menu .icon:hover {
  cursor: pointer;
  animation: jump 1000ms linear 0ms infinite;
}
.wrapper {
	transition: all ease-in-out 500ms;
	&.page1 {
	  transform: translateY(0%);
	}
	&.page2 {
	  transform: translateY(-100%);
	}
}
.crc,
.simple-binary {
  padding-left: 100px;
  transition: all ease-in-out 1000ms;
}
.box::before,
.lines-container::before {
  position: absolute;
  left: 10px;
  color: #aaa;
}
.box.input::before,
.send .lines-container::before {
  content: 'SENDER';
  bottom: 10px;
}
.box.result::before,
.receive .lines-container::before {
  content: 'RECEIVER';
  top: 10px;
}
.lines-container,
.crc .box {
  border: 1px solid #ddd;
  margin: 20px;
  text-align: center;
  height: 250px;
  position: relative;
}
.crc .box input,
.crc .box .text,
.lines-container input,
.lines-container .text {
  display: inline-block;
  margin: 5px;
  width: 100px;
  height: 60px;
  font-size: 50px;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
  transition: all linear 500ms;
}
.lines-container .input::before {
  content: 'char:';
  color: #aaa;
}
.lines-container .decimal,
.lines-container .hex {
  transition: all linear 250ms;
  color: #aaa;
}
.lines-container .decimal::after {
	content: '10';
	position: relative;
	bottom: -5px;
	font-size: 60%;
}
.lines-container .hex {
  position: absolute;
  top: 5px;
}
.lines-container .decimal.ng-hide,
.lines-container .hex.ng-hide {
  opacity: 0.0;
}
.lines-container .inverter {
  background: #67d967;
  color: #fff;
  position: absolute;
  width: 60px;
  top: 5px;
  left: 5px;
  padding: 5px 15px;
  transition: all linear 250ms;
}
.lines-container .inverter.inverted {
  color: #fff;
  cursor: pointer;
}
.lines-container .inverter:hover {
  background: #eee;
  color: #333;
  cursor: pointer;
}
.lines-container .inverter::before {
  content: 'original';
}
.lines-container .inverter.inverted::before {
  content: 'inverted';
}
.lines-container .parity-switch {
  background: #67d967;
  color: #fff;
  width: 60px;
  position: absolute;
  top: 35px;
  left: 5px;
  padding: 5px 15px;
  transition: all linear 250ms;
}
.lines-container .parity-switch.zero {
  color: #fff;
  cursor: pointer;
}
.lines-container .parity-switch:hover {
  background: #eee;
  color: #333;
  cursor: pointer;
}
.lines-container .parity-switch::before {
  content: 'parity 1';
}
.lines-container .parity-switch.zero::before {
  content: 'parity 0';
}
.crc .box {
	height: 150px;
}
.crc .box input,
.crc .box .text {
	font-size: 30px;
	width: 90%;
}
.crc .box .text {
	display: inline-table;
}
.crc ::-webkit-input-placeholder {
	color: #aaa;
	font-style: italic;
	text-shadow: none;
}
.crc :-moz-placeholder {
	color: #aaa;
	font-style: italic;
	text-shadow: none;
}
.crc ::-moz-placeholder {
	color: #aaa;
	font-style: italic;
	text-shadow: none;
}
.crc :-ms-input-placeholder {
	color: #aaa;
	font-style: italic;
	text-shadow: none;
}
.crc .output {
	display: table;
	width: 96%;
	opacity: 1.0;
	transition: opacity ease-in-out 250ms;

	&.ng-hide {
		opacity: 0.0;
	}

	> div {
		display: inline-block;
		margin: 1%;
		width: 30%;

		&::before {
			color: #aaa;
			font-size: 12px;
			margin-right: 4px;
		}
	}
	.crc-8::before {
		content: 'CRC-8';
	}
	.crc-16::before {
		content: 'CRC-16';
	}
	.crc-32::before {
		content: 'CRC-32';
	}
}
.crc .msg {
	text-align: center;
	width: 100%;
	transition: opacity ease-in-out 500ms;
	&.ng-hide {
		opacity: 0.0;
	}
}
.error {
	margin: 15px;
}
.errors {
  width: 100%;
  text-align: center;
}
.errors::before {
  content: 'Errors to add: ';
  color: #777;
}
.errors input {
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
}
.errors .send-button {
  display: inline;
  margin-left: 5px;
}
.errors .send-button button {
  background-color: #67d967;
  border: none;
  padding: 5px 15px;
  color: #fff;
  font-size: 16px;
}
.errors .send-button button:hover {
  background-color: #5aca5a;
  cursor: pointer;
}
.guide {
  opacity: 0.65;
  margin: 15px;
  font-size: 12px;
  font-style: italic;
}
.guide span,
.guide i {
  margin: 5px;
}
.red {
  color: red;
  fill: red;
  stroke: red;
}
.green {
  color: green;
  fill: green;
  stroke: green;
}
.orange {
  color: orange;
  fill: orange;
  stroke: orange;
}
.lines {
  margin: auto;
  width: 550px;
  height: 130px;
  transition: all linear 250ms;
}
.lines.ng-hide {
  opacity: 0.0;
  transform: scaleY(0);
}
line {
  transform: translateY(50px);
  stroke: #00b300;
  stroke-width: 2px;
}
line.back {
  stroke: rgba(0, 0, 0, 0.25);
  stroke-width: 1px;
}
text {
  fill: #999;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

@keyframes jump {
  0% {transform: translateY(0px);}
  30% {transform: translateY(-10px);}
  50% {transform: translateY(-2px);}
  60% {transform: translateY(-10px);}
  70% {transform: translateY(0px);}
  100% {transform: translateY(0px);}
}
