<div class="menu">
	<div class="icon icon-simple-binary" ng-click="goTo(0)">Parity</div>
	<div class="icon icon-crc" ng-click="goTo(1)">CRC</div>
</div>
<div class="wrapper" ng-class="{0:'page1', 1:'page2'}[page]">
	<div class="simple-binary">
		<div class="send">
			<div class="lines-container">
				<div class="input">
					<input autofocus type="text" maxlength="2" ng-model="character" ng-keyup="drawChar()" ng-enter="send()" />
					<span class="hex" ng-show="lines && lines.length > 0" ng-bind="'0x' + binaryChar.char16"></span>
					<span class="decimal" ng-show="lines && lines.length > 0" ng-bind="binaryChar.char10"></span>
				</div>
				<div class="inverter" ng-click="toggleInvert()" ng-class="{true:'inverted', false:''}[invert]"></div>
				<div class="parity-switch" ng-click="toggleParity()" ng-class="{1:'one', 0:'zero'}[parityType]"></div>
				<div class="error" ng-show="lines && lines.length > 0 && binaryChar.encoding === 2">
					Encoding not valid. This tool only accepts UTF-8 characters up to ÿ (255 = 0xFF)
				</div>
				<div class="lines" ng-show="lines && lines.length > 0 && binaryChar.encoding !== 2">
					<svg width="550px" height="130px">
						<line class="back" x1="0" y1="0" x2="550" y2="0" />
						<line class="back" x1="50" y1="-50" x2="50" y2="50" />
						<line class="back" x1="90" y1="-50" x2="90" y2="50" />
						<line class="back" x1="130" y1="-50" x2="130" y2="50" />
						<line class="back" x1="170" y1="-50" x2="170" y2="50" />
						<line class="back" x1="210" y1="-50" x2="210" y2="50" />
						<line class="back" x1="250" y1="-50" x2="250" y2="50" />
						<line class="back" x1="290" y1="-50" x2="290" y2="50" />
						<line class="back" x1="330" y1="-50" x2="330" y2="50" />
						<line class="back" x1="370" y1="-50" x2="370" y2="50" />
						<line class="back" x1="410" y1="-50" x2="410" y2="50" />
						<line class="back" x1="450" y1="-50" x2="450" y2="50" />
						<line class="back" x1="490" y1="-50" x2="490" y2="50" />
						<text y="120" x="55">start</text>
						<text y="120" x="411">parity</text>
						<text y="120" x="456">stop</text>

						<line ng-if="lines"
							ng-repeat="line in lines"
							ng-attr-x1="{{line.x1}}"
							ng-attr-y1="{{line.y1}}"
							ng-attr-x2="{{line.x2}}"
							ng-attr-y2="{{line.y2}}" />
						<text ng-bind="binaryChar.bits[0].bit" x="110" y="120"></text>
						<text ng-bind="binaryChar.bits[1].bit" x="150" y="120"></text>
						<text ng-bind="binaryChar.bits[2].bit" x="190" y="120"></text>
						<text ng-bind="binaryChar.bits[3].bit" x="230" y="120"></text>
						<text ng-bind="binaryChar.bits[4].bit" x="270" y="120"></text>
						<text ng-bind="binaryChar.bits[5].bit" x="310" y="120"></text>
						<text ng-bind="binaryChar.bits[6].bit" x="350" y="120"></text>
						<text ng-bind="binaryChar.bits[7].bit" x="390" y="120"></text>
					</svg>
				</div>
			</div>
		</div>


		<div class="errors">
			<input type="number" min="0" max="8" step="1" ng-model="errorsToAdd" />
			<div class="send-button">
				<button ng-click="send()">SEND</button>
			</div>
		</div>


		<div class="receive">
			<div class="lines-container">
				<div class="input">
					<div class="text" ng-bind="receivedChar.char"></div>
					<span class="hex" ng-show="receivedLines && receivedLines.length > 0" ng-bind="'0x' + receivedChar.char16"></span>
					<span class="decimal" ng-show="lines && lines.length > 0" ng-bind="receivedChar.char10"></span>
				</div>
				<div class="error" ng-show="(receivedChar.char10 <= 31 || receivedChar.encoding === 2)">
					The received stream of bits does not build a valid UTF-8 character, or it is a reserved code
				</div>
				<div class="lines" ng-show="receivedLines && receivedLines.length > 0 && !(receivedChar.char10 <= 31 || receivedChar.encoding === 2)">
					<svg width="550px" height="130px">
						<line class="back" x1="0" y1="0" x2="550" y2="0" />
						<line class="back" x1="50" y1="-50" x2="50" y2="50" />
						<line class="back" x1="90" y1="-50" x2="90" y2="50" />
						<line class="back" x1="130" y1="-50" x2="130" y2="50" />
						<line class="back" x1="170" y1="-50" x2="170" y2="50" />
						<line class="back" x1="210" y1="-50" x2="210" y2="50" />
						<line class="back" x1="250" y1="-50" x2="250" y2="50" />
						<line class="back" x1="290" y1="-50" x2="290" y2="50" />
						<line class="back" x1="330" y1="-50" x2="330" y2="50" />
						<line class="back" x1="370" y1="-50" x2="370" y2="50" />
						<line class="back" x1="410" y1="-50" x2="410" y2="50" />
						<line class="back" x1="450" y1="-50" x2="450" y2="50" />
						<line class="back" x1="490" y1="-50" x2="490" y2="50" />
						<text y="120" x="55">start</text>
						<text y="120" x="411" ng-class="{0:'green', 1:'red', 2:'orange'}[receivedChar.parityState]">parity</text>
						<text y="120" x="456">stop</text>

						<line ng-if="receivedLines"
							ng-repeat="line in receivedLines"
							ng-attr-x1="{{line.x1}}"
							ng-attr-y1="{{line.y1}}"
							ng-attr-x2="{{line.x2}}"
							ng-attr-y2="{{line.y2}}" />
						<text ng-bind="receivedChar.bits[0].bit" x="110" y="120" ng-class="{true:'red'}[receivedChar.bits[0].hasError]"></text>
						<text ng-bind="receivedChar.bits[1].bit" x="150" y="120" ng-class="{true:'red'}[receivedChar.bits[1].hasError]"></text>
						<text ng-bind="receivedChar.bits[2].bit" x="190" y="120" ng-class="{true:'red'}[receivedChar.bits[2].hasError]"></text>
						<text ng-bind="receivedChar.bits[3].bit" x="230" y="120" ng-class="{true:'red'}[receivedChar.bits[3].hasError]"></text>
						<text ng-bind="receivedChar.bits[4].bit" x="270" y="120" ng-class="{true:'red'}[receivedChar.bits[4].hasError]"></text>
						<text ng-bind="receivedChar.bits[5].bit" x="310" y="120" ng-class="{true:'red'}[receivedChar.bits[5].hasError]"></text>
						<text ng-bind="receivedChar.bits[6].bit" x="350" y="120" ng-class="{true:'red'}[receivedChar.bits[6].hasError]"></text>
						<text ng-bind="receivedChar.bits[7].bit" x="390" y="120" ng-class="{true:'red'}[receivedChar.bits[7].hasError]"></text>
					</svg>
				</div>
				<div class="guide" ng-show="receivedLines && receivedLines.length > 0">
					<span>Parity:</span>
					<span><i class="fa fa-circle green"></i>No errors</span>
					<span><i class="fa fa-circle orange"></i>Errors exist, but were not captured</span>
					<span><i class="fa fa-circle red"></i>Errors found</span>
				</div>
			</div>
		</div>
	</div>
	<div class="crc">
		<div class="box input">
			<input type="text"
				placeholder="enter text and press enter"
				ng-model="crcStrIn"
				ng-enter="calcCRC()"
				ng-keyup="clearCRC()" />
			<div class="output" ng-show="crc.input">
				<div class="crc-8" ng-bind="crc.input.hash8"></div>
				<div class="crc-32" ng-bind="crc.input.hash32"></div>
			</div>
		</div>
		<div class="msg" ng-show="crc.input && !crc.output">Sending<span>.</span><span>.</span><span>.</span></div>
		<div class="box result" ng-show="crc.output">
			<div class="text">
				<span ng-bind="crc.output.parts.left"></span>
				<span class="red" ng-bind="crc.output.parts.error"></span>
				<span ng-bind="crc.output.parts.right"></span>
			</div>
			<div class="output">
				<div class="crc-8" ng-bind="crc.output.hash8"></div>
				<div class="crc-32" ng-bind="crc.output.hash32"></div>
			</div>
		</div>
	</div>
</div>
